.afp-icon-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.afp-input {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid var(--color-border);
  height: 2.375rem;
}

.afp-input.open {
  border: 1px solid #4271ae;
}
.afp-input i {
  width: 3rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--color-border);
}
.afp-input .name {
  padding: 0.5rem;
  flex-grow: 1;
  user-select: none;
  display: flex;
  align-items: center;
}
.afp-input .k-icon {
  width: 2.25rem;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.afp-dropdown-container {
  position: relative;
}
.afp-dropdown {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--color-border);
  z-index: 1;
}
.afp-list-container {
  margin-top: -1rem;
  overflow-y: scroll;
  height: 17.8rem;
  padding: 1rem;
}

.afp-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(7rem, 1fr) );
  justify-items: center;

  gap: 1rem;
}

.afp-list--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);

}

.afp-list--icon:hover {
  background-color: var();
}

.afp-list--icon  i {
  font-size: 2rem;
}

.afp-list--icon-name {
  font-size: var(--font-size-tiny);
  color: var(--color-text-light);
  margin-top: .25rem;
  text-align: center;
}
